body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-title, .App-intro {
  text-align: center;
}

div.block {
  color: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}

div.blue1 {
  background: rgba(0, 160, 233, 0.7);
}

div.blue2 {
  background: #00a0e9;
}

section {
  margin-top: 20px;
}
